.header--blog {
  background-position: 100% 0;
  background-size: 1353px
    300px;
}

.header--blog .header__mobile-image {
  background-position: 0 0;
  background-size: 100vw
    181.81818vw;
}

.header__additional-element {
  margin: 0;
  color: #FFFFFF;
}

.header__follow-us-title {
  margin-bottom: 0.35em
}

@media (min-width: 36rem) {

  .header__follow-us-title {
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
  }
  }

.header__follow-us-icons {
}

@media (min-width: 36rem) {

  .header__follow-us-icons {
    display: inline-block;
    vertical-align: middle;
    padding: 0 1rem;
    line-height: 40px;
  }
  }

.header__additional-element .Icon {
  background: #FFFFFF;
  border-radius: 50%;
  fill: #3E51B5;
}

/* stylelint-disable selector-class-pattern */

/* democracyinamerica */

.header--blog21003976 {
  background-color: #004388;
}

/* bagehot */

.header--blog21003990 {
  background-color: #b51915;
}

/* buttonwood */

.header--blog21003991 {
  background-color: #bfe7f1;
}

.header--blog21003991 .header__title,
.header--blog21003991 .header__title-link,
.header--blog21003991 .header__text {
  color: #121212;
  color: #121212;
}

/* economist-explains */

.header--blog21573751 {
  background-color: #916caf;
}

/* erasmus */

.header--blog21572045 {
  background-color: #bd902d;
}

.header--blog21572045 .header__title,
.header--blog21572045 .header__title-link,
.header--blog21572045 .header__text {
  color: #121212;
  color: #121212;
}

/* freeexchange */

.header--blog21003975 {
  background-color: #695f4b;
}

/* gametheory */

.header--blog21528117 {
  background-color: #5e9732;
}

/* graphicdetail */

.header--blog21011894 {
  background-color: #5f95b8;
}

/* gulliver */

.header--blog21003986 {
  background-color: #5ac5c4;
}

.header--blog21003986 .header__title,
.header--blog21003986 .header__title-link,
.header--blog21003986 .header__text {
  color: #121212;
  color: #121212;
}

/* prospero */

.header--blog21008659 {
  background-color: #ece8e1;
}

.header--blog21008659 .header__title,
.header--blog21008659 .header__title-link,
.header--blog21008659 .header__text {
  color: #121212;
  color: #121212;
}

/* stylelint-enable selector-class-pattern */

@font-face {
  font-family: "EconSans";
  font-weight: 300;
  src: url('/assets/ecosans-lig.woff2') format('woff2'), /* Super Modern Browsers */
  url('/assets/ecosans-lig.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: "EconSans";
  font-style: normal;
  src: url('/assets/ecosans-reg.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/ecosans-reg.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: "EconSans";
  font-weight: 700;
  src: url('/assets/ecosans-bol.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/ecosans-bol.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: "EconSans";
  font-style: italic;
  src: url('/assets/ecosans-ita.woff2') format('woff2'), /* Super Modern Browsers */
  url('/assets/ecosans-ita.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: "MiloSerifPro";
  font-style: normal;
  src: url('/assets/ecoserif-reg.woff2') format('woff2'), /* Super Modern Browsers */
  url('/assets/ecoserif-reg.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: "MiloSerifPro";
  font-style: italic;
  src: url('/assets/ecoserif-ita.woff2') format('woff2'), /* Super Modern Browsers */
  url('/assets/ecoserif-ita.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: "MiloSerifPro";
  font-weight: 500;
  src: url('/assets/ecoserif-med.woff2') format('woff2'), /* Super Modern Browsers */
  url('/assets/ecoserif-med.woff') format('woff'); /* Pretty Modern Browsers */
}

/**
 * Modular scale for type.
 */

:root {
  /** Modular scale **/
  /* http://www.modularscale.com/?20&px&1.125&web&text */  /* Major second */

  /** Line heights **/

  /* Font: Halifax Regular */

  /* Font: Halifax Bold */

  /* Font: Halifax Light */

  /* Font: Ff Milo Serif Pro Med Italic */

  /* Font: Ff Milo Serif Pro */

  /* Font: FF Milo Serif OT Medium */

  /** Letter spacing **/
  /* Font: Halifax Regular */

  /* Font: Halifax Bold */

  /* Font: Halifax Light */

  /* Font: Ff Milo Serif Pro Med Italic */

  /* Font: Ff Milo Serif Pro */

  /* Font: FF Milo Serif OT Medium */
}

html {
  line-height: 1.35;
  font-size: 18px;
}

@media screen and (min-width: 500px) {
  html {
    font-size: 20px;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**
 * Colors
 */

/**
 * Css grid variables
 */

.header {
  position: relative;
  font-family: 'EconSans', Tahoma, sans-serif;
  font-size: 18px;
  font-size: 1rem;
  background-repeat: no-repeat
}

@media (max-width: 35.999rem) {

  .header {

    /* stylelint-disable declaration-no-important */
    background-image: none !important;

    /* stylelint-enable declaration-no-important */
  }
  }

@media (min-width: 36rem) {

  .header {
    height: 300px;
  }
  }

.header__mobile-image {
  height: 100%;
  background-repeat: no-repeat
}

@media (min-width: 36rem) {

  .header__mobile-image {

    /* stylelint-disable declaration-no-important */
    background-image: none !important;

    /* stylelint-enable declaration-no-important */
  }
  }

.header__wrapper {
  max-width: 1190px;
  margin: 0 auto
}

@media (max-width: 35.999rem) {

  .header__wrapper {
    padding: 70vw
      1.25rem
      1.875em;
  }
  }

@media (min-width: 36rem) {

  .header__wrapper {
    padding: 0.35em
      1.25rem
      0;
  }
  }

.header__content {
  max-width: 540px;
  max-width: 30rem;
  text-align: center
}

@media (min-width: 36rem) {

  .header__content {
    width: 50%;
    min-width: 25rem;
    margin-right: auto;
    text-align: left;
  }
  }

.header__title {
  margin: 0;
  color: #FFFFFF;
  font-size: 1.80204em;
  letter-spacing: normal;
  line-height: 1.22
}

@media (min-width: 36rem) {

  .header__title {
    margin-top: 0;
  }
  }

.header__title-link {
  color: #FFFFFF;
}

.header--small-mode {
}

.header--small-mode .header__wrapper {
  height: 50px;
}

.header--small-mode .header__title {
  padding: 0;
}

.header--small-mode .header__title-link {
  line-height: 50px;
}

.header--large-mode {

}

.header--large-mode .header__title {
}

@media (max-width: 35.999rem) {

  .header--large-mode .header__title {
    padding: 0.1em
        15%
        1em;
  }
}

@media (min-width: 36rem) {

  .header--large-mode .header__title {
    padding: 0.1em
        0
        1em;
  }
}

.header__flytitle {
  display: inline-block;
  margin-bottom: 0.1em;
  padding: 0.1em
    1em
    0.1em;
  color: #E3120b;
  font-size: 0.88889em;
  font-weight: normal;
  background-color: rgba(255, 255, 255, 0.6)
}

@media (max-width: 35.999rem) {

  .header__flytitle {
    margin: auto;
  }
  }

.header__text {
  vertical-align: middle;
  margin-top: 0;
  color: #FFFFFF;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.35
}

@media (min-width: 36rem) {

  .header__text {
    width: 100%;

    /* Fix for IE */
  }
  }

.header__additional-element {
}

@media (max-width: 35.999rem) {

  .header__additional-element {
    margin-bottom: 0;
  }
  }

/* stylelint-disable selector-no-type */

a {
  text-decoration: none;
}

.teaser {
  font-family: 'EconSans', Tahoma, sans-serif;
}

html {
  font-size: 18px;
  line-height: 1.35
}

@media screen and (min-width: 800px) {

  html {
    font-size: 20px;
  }
  }

body {
  background: #fff;
}

.component-panel {
  overflow-x: scroll;
}
