@import '../backgrounds/bagehot.css';
@import '../backgrounds/buttonwood.css';
@import '../backgrounds/democracyinamerica.css';
@import '../backgrounds/economist-explains.css';
@import '../backgrounds/erasmus.css';
@import '../backgrounds/freeexchange.css';
@import '../backgrounds/gametheory.css';
@import '../backgrounds/graphicdetail.css';
@import '../backgrounds/gulliver.css';
@import '../backgrounds/prospero.css';

.header--blog-bagehot {
  background-color: var(--header-background-color-bagehot);
}

.header--blog-buttonwood {
  background-color: var(--header-background-color-buttonwood);
}

.header--blog-buttonwood .header__title,
.header--blog-buttonwood .header__title-link,
.header--blog-buttonwood .header__text {
  color: var(--dark-text);
}

.header--blog-democracyinamerica {
  background-color: var(--header-background-color-democracyinamerica);
}

.header--blog-economist-explains {
  background-color: var(--header-background-color-economist-explains);
}

.header--blog-erasmus {
  background-color: var(--header-background-color-erasmus);
}

.header--blog-erasmus .header__title,
.header--blog-erasmus .header__title-link,
.header--blog-erasmus .header__text {
  color: var(--dark-text);
}

.header--blog-freeexchange {
  background-color: var(--header-background-color-freeexchange);
}

.header--blog-gametheory {
  background-color: var(--header-background-color-gametheory);
}

.header--blog-graphicdetail {
  background-color: var(--header-background-color-graphicdetail);
}

.header--blog-gulliver {
  background-color: var(--header-background-color-gulliver);
}

.header--blog-gulliver .header__title,
.header--blog-gulliver .header__title-link,
.header--blog-gulliver .header__text {
  color: var(--dark-text);
}

.header--blog-prospero {
  background-color: var(--header-background-color-prospero);
}

.header--blog-prospero .header__title,
.header--blog-prospero .header__title-link,
.header--blog-prospero .header__text {
  color: var(--dark-text);
}
